<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

    .headerLink {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 30px;
        text-decoration: none;
        color: black;
    }

    * {
        margin: 0;
        padding: 0;
    }

    .headerContainer {
        height: 60px;
        display: inline-block;
        line-height:100px;
        text-align: center;
    }
</style>
<div class="headerContainer">
    <a href="/" class="headerLink">Weather</a>
</div>